@media (max-width: 1200px) {
  .header {
    &__btn {
      margin-right: auto;
    }
  }
}

@media (max-width: 920px) {
  .header {
    &__inner {
      justify-content: flex-end;
    }
    &__logo {
      order: -1;
      margin-right: auto;
    }
    &__menu {
      order: -1;
    }
    &__btn {
      margin: 20px 0 0 150px;
    }
  }
  .footer {
    &__btn {
      margin-left: auto;
      margin-top: 20px;
    }
  }
}

@media (max-width: 560px) {
  .header {
    &__btn {
      margin-left: auto;
      
    }
  }
  .btn {
    padding: 18px 50px;
    font-size: 18px;
  }
  .logo {
    img {
      width: 250px;
    }
  }
  .footer {
    &__inner {
      padding: 50px 10px 22px;
    }
    &__contacts-item {
      flex-basis: 100%;
      margin-bottom: 30px;
    }
  }
}