@import 'reset';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
  cursor: pointer;
}



